/*css rules general*/
    /* Box sizing rules */
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    /* Set core root defaults */
    html:focus-within {
        scroll-behavior: smooth;
    }
    
    /* Set core body defaults */
    body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    /* Make images easier to work with */
    img,
    picture {
    max-width: 100%;
    display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
    font: inherit;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
        scroll-behavior: auto;
        }
    }

        *,
        *::before,
        *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        }

/*universal*/
body {
    padding: 0 1em;
    max-width: 60em;
    margin: 0 auto;
    background-color: rgba(23, 23, 23, 1);
    color:white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


/* Contact form */
h1{
  font-size: 1.5rem;
  color:white;
  text-align: center;
}

.form {
    margin: 1rem;
}

.form > * {
    display: flex;
    flex-direction: column;
}

.form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-weight: bold;
    margin: 1rem;
}


textarea, input::placeholder{
    font-weight: 400;
}


